{% extends "index.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class='homepage'>
    <div class='sideBar'>
        {% for categroy in categorylist %}
        <div class='sideBarItem {{ categroy.category_name }}'>
            {{ categroy.category_name }}
        </div>
        {% endfor %}
    </div>
    <div class='mainBody'>
        {% for usedcar in usedcarlist %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{usedcar.post_title}}
                    <span class="material-icons detailClick" id={{usedcar.id}}>
                        more_horiz
                    </span>
                </h5>
                <p class="card-text">CAD: ${{usedcar.post_price}}</p>
                <p class="card-text"><small class="text-muted">{{usedcar.pub_date}}</small></p>
            </div>
        </div>
        {% endfor%}
    </div>
    <div class="detailBody">
    
    </div>
</div>
{%endblock%}