{% extends "index.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class='homepage'>
    <div class='sideBar'>
        {% for categroy in categorylist %}
        <div class='sideBarItem {{ categroy.category_name }} {{categroy.classname}}'>
           <a href='/{{ categroy.category_name }}/'>  {{ categroy.category_name }}</a>
        </div>
        {% endfor %}
    </div>
    <div class='mainBody'>
        {% for item in list %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{item.post_title}}
                    <span class="material-icons detailClick" id={{item.id}}>
                        more_horiz
                    </span>
                </h5>
                <p class="card-text">CAD: ${{item.post_price}}</p>
                <p class="card-text timestamp"><small class="text-muted">{{item.pub_date}}</small></p>
            </div>
        </div>
        {% endfor%}
    </div>
    <div class="detailBody">
    
    </div>
</div>
{%endblock%}