html,body{
    height: 100%;
    width: 100%;
    background-color: #18191a;
}

#NavContainer{
    height: 72px;
    padding: 16px;
    background-color: #000;
    border-bottom: 1px solid #3e4042;
}

a.nav-link{
    color: #fff;
}

a.nav-link span{
    width: 38px;
    height: 38px;
    padding: 7px;
    border-radius: 20px;
    background-color: #414243;
}

.nav-link{
    padding:4px;
}

a.nav-link.active span{
    background-color: rgb(207, 207, 207);
    
}

.homepage{
    height: calc(100% - 72px);
    width: 100%;
    background-color: #18191a;
    color:#fff;
}

.sideBar{
    width: 360px;
    height: 100%;
    float: left;
    color:#fff;
    border-right: 1px solid #3e4042;
}

.sideBarItem{
    text-align: center;
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
}

.sideBarItem.active{
    background-color: #385898;
}

.sideBarItem a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.postFormContainer{
    width: 600px;
    margin:auto;
    padding: 10px;
}

.postFormContainer .form-row{
    margin-top: 14px;
}

.form-row label{
    width: 200px;
    height: 42px;
    padding: 10px;
}

.form-row input,
.form-row select{
    width: 326px;
    height: 42px;
    padding: 10px;
    background-color: #242627;
    border:1px solid #3e4042;
    border-radius: 5px;
    color: #fff;
}

.form-row textarea{
    width: 326px;
    padding: 10px;
    padding: 10px;
    background-color: #242627;
    border:1px solid #3e4042;
    border-radius: 5px;
    color: #fff;
}
.submitpost{
    width: 286px;
    margin-top: 24px;
    margin-left: calc( (100% - 286px)/2 );
}

.mainBody,.detailBody{
    padding: 18px;
    width: calc(100% - 360px);
    float: left;
    height: 100%;
}

.mainBody .card{
    width: 240px;
    margin: 10px;
    float: left;
    background-color: #242627;
    border: 1px solid #3e4042;
}

.detailClick{
    float: right;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 16px;
}

.detailClick:hover{
    background-color: rgb(207, 207, 207);
    color: #fff;
}

.detailBody{
    display: none;
}

.backToMain{
    cursor: pointer;
    font-size: 36px;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: rgb(207, 207, 207);
    color:#fff;
    margin-left: 20px;
}

.detailMainDiv{
    width: 650px;
    margin: auto;
    padding: 12px;
}

.detailInfo.Title{
    font-size: 24px;
    font-weight: 700;
    padding: 12px;
}

.detailDivContainer{
    width: 600px;
    height: auto;
    padding: 10px;
    border: 1px solid #3e4042;
    border-radius: 5px;
    margin-top: 14px;
}

.detailDivContainer .detailTitle{
    font-weight: 600;
}

.detailDivContainer .detailInfo{
    font: normal;
    font-size: 12px;
}