html,body{
    height: 100%;
    width: 100%;
    
}

#NavContainer{
    height: 72px;
    padding: 16px;
    background-color: #000;
}

a.nav-link{
    color: #fff;
}

a.nav-link.active{
    border-bottom: 2px solid #1DB954;
}

#homepage{
    height: 100%;
    
}

.sideBar{
    width: 240px;
    height: 100%;
    float: left;
    color:#000;
    border-right: 2px solid rgb(201, 201, 201);
}

.sideBarItem{
    text-align: center;
    padding: 12px;
    cursor: pointer;
    
}